@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --red: #cd1817;
  --swiper-theme-color: #007aff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #212529;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

.a__blue {
  color: blue;
}

.heading-1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.heading-2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2;
}

.heading-3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.2;
}

.heading-4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.2;
}

.heading-5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.2;
}

.textBody {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2;
}

.container {
  max-width: 1200px;
  margin: 7.5px 0;
}

/* HEDER */

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__top {
  width: 100%;
  height: 56px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.header__logo {
  width: 151px;
  height: 40px;
  background-position: -2px -7px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(https://fptshop.com.vn/Content/v4/images/iconhd.png?v=456);
  cursor: pointer;
}

.header__input {
  display: flex;
  align-items: center;
}

.header__input > input {
  width: 450px;
  height: 38px;
  background-color: var(--white);
  padding-left: 16px;
  display: flex;
  align-items: center;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: none;
}

.header__search {
  width: 58px;
  height: 38px;
  background-color: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 2px 2px 0;
  border: 0;
}

.header__input i {
  color: var(--white);
  font-size: 22px;
}

.header__top-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header__top-item {
  position: relative;
}

.header__top-item a {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.header__top-item i {
  font-size: 20px;
}

.header__top-item:hover .header__top-dropdown-inf {
  opacity: 1;
  visibility: inherit;
  top: 52px;
}

.header__top-dropdown-inf {
  position: absolute;
  top: 75px;
  left: 0;
  width: 200px;
  height: 324px;
  background-color: var(--white);
  border: 1px solid #d3d3d3;
  padding: 8px 20px;
  text-align: center;
  z-index: 9999;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.header__top-dropdown-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header__top-dropdown-item > a {
  font-size: 14px;
  line-height: 34px;
  color: #2125299a;
}

.header__top-dropdown-item > a:hover {
  color: #212529;
}

.header__bottom {
  width: 100%;
  height: 36px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__bottom-item {
  height: 100%;
  color: var(--white);
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.header__bottom-item > a {
  color: var(--white);
  font-size: 14px;
}

.header__bottom-item:hover {
  background-color: rgba(255, 255, 255, 0.494);
  cursor: pointer;
}

.header__bottom-item:hover .header__bottom-dropdown {
  opacity: 1;
  visibility: inherit;
  top: 35px;
}

.header__bottom-item:hover .header__bottom-dropdown--2 {
  opacity: 1;
  visibility: inherit;
  top: 35px;
}

.header__bottom-item:nth-child(3) i {
  transform: rotate(-90deg);
}

.header__bottom-dropdown {
  width: 1200px;
  background-color: var(--white);
  box-shadow: #000000 0px 6px 12px 0px;
  color: #212529;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  position: absolute;
  top: 70px;
  left: 305px;
  z-index: 99999999999;
}

.header__bottom-dropdown-company-mobile {
  width: 33%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-heading {
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 700;
  line-height: 18.2px;
  padding: 8px 0px 12px;
}

.header__bottom-dropdown-card-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header__bottom-dropdown-card-content > a {
  width: 33%;
  font-size: 13px;
  line-height: 18.5714px;
  padding: 5px 0px;
}

.header__bottom-dropdown-price-mobile {
  width: 15%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-price-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-price-content > a {
  width: 100%;
  font-size: 13px;
  line-height: 18.5714px;
  padding: 5px 0px;
}

.header__bottom-dropdown-salehot-mobile {
  width: 29%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-salehot-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__bottom-dropdown-salehot-card {
  width: 100%;
  display: flex;
  gap: 10px;
}

.header__bottom-dropdown-salehot-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-salehot-card-name {
  font-size: 14px;
  line-height: 19.6px;
}

.header__bottom-dropdown-salehot-card-price {
  color: #d0021b;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
}

.header__bottom-dropdown-img-mobile {
  width: 23%;
  padding: 10px;
}

.header__bottom-dropdown-company-laptop {
  width: 47%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-price-laptop {
  width: 22%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-img-laptop {
  width: 31%;
  padding: 10px 50px;
}

.header__bottom-dropdown-company-table {
  width: 33%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-price-table {
  width: 15%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-salehot-table {
  width: 29%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-img-table {
  width: 23%;
  padding: 10px;
}

.header__bottom-dropdown-company-apple {
  width: 40%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-salehot-apple {
  width: 37%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-img-apple {
  width: 23%;
  padding: 10px;
}

.header__bottom-dropdown-company-acc {
  width: 40%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-salehot-acc {
  width: 37%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.header__bottom-dropdown-img-acc {
  width: 23%;
  padding: 10px;
}

.header__bottom-dropdown--2 {
  width: 200px;
  background-color: var(--white);
  box-shadow: #000000 0px 6px 12px 0px;
  color: #212529;
  padding: 8px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 99999999999;
}

.header__bottom-dropdown--2-item {
  width: 100%;
  font-size: 14px;
  line-height: 34.02px;
}

/* Main */

.basket {
  margin: 0 auto;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

/* HOME */

.basket__home {
  width: 100%;
  display: flex;
  gap: 5px;
  position: relative;
}

/* MAIN */

.basket__main {
  width: 100%;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.156);
}

.basket__main-heading {
  width: 100%;
  padding: 10px 24px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.342);
}

.basket__main-heading-text {
  color: #212529;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.basket__main-product {
  width: 100%;
  padding: 10px 24px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.342);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.basket__main-product img {
  width: 80px;
  height: 80px;
}

.basket__main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.basket__main-product-name {
  color: #32373d;
  font-weight: 500;
  line-height: 24px;
}

.basket__main-product-color {
  width: 91px;
  height: 28px;
  background-color: #ffffff;
  padding-left: 3px;
  color: #444b52;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid rgba(220, 220, 220, 0.499);
  border-radius: 3px;
}

.basket__main-product-endow {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basket__main-product-check {
  background-color: #48bb78;
  padding: 2px 5px;
  border-radius: 99999999px;
  color: var(--white);
  font-size: 10px;
}

.basket__main-product-endow-row {
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.basket__main-product-endow-row p {
  color: #444b52;
  font-size: 14px;
  line-height: 20px;
}

.basket__main-feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basket__main-feature-box {
  display: flex;
  gap: 5px;
}

.basket__main-feature-img {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__main-feature-img img {
  width: 60px;
  height: 60px;
}

.basket__main-feature-img input {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

.basket__main-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.basket__main-quantity-box {
  display: flex;
}

.basket__main-quantity-box button {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #e1e4e6;
  color: #444b52;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__main-quantity-box input {
  width: 38px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #e1e4e6;
  color: #444b52;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 5px;
}

.basket__main-quantity-box input::-webkit-outer-spin-button,
.basket__main-quantity-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket__main-quantity-clean {
  display: flex;
  gap: 5px;
  color: #828a91;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
}

.basket__main-prices {
  width: 300px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-end;
}

.basket__main-price {
  color: #cb1c22;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.basket__main-price--un {
  color: #939ca3;
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
}

.basket__main-inf {
  padding: 10px 140px;
  width: 850px;
}

.basket__main-inf form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.basket__main-inf-input {
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(220, 220, 220, 0.529);
  border-radius: 3px;
  outline: none;
}

.basket__main-inf label {
  color: #444b52;
  font-size: 14px;
  line-height: 20px;
}

.basket__main-inf-sex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.basket__main-inf-sex--boy,
.basket__main-inf-sex--girl {
  display: flex;
  gap: 8px;
}

.basket__main-inf-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.basket__main-btn {
  width: 100%;
  border-top: 1px solid rgba(220, 220, 220, 0.33);
  padding: 35px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__main-btn button {
  padding: 10px 24px;
  background-color: var(--red);
  border-radius: 3px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border: 0;
  outline: none;
}

.basket__main-sub {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  color: #939ca3;
  font-size: 14px;
  line-height: 20px;
}
/* Footer */
.footer__main {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__main-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer__main-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 21px;
}

.footer__main-col {
  width: 100%;
}

.footer__main-col:nth-child(1) img {
  height: 40px;
}

.footer__main-col:nth-child(2) li {
  display: flex;
  flex-direction: column;
}

.footer__main-col:nth-child(2) img {
  height: 40px;
}

.footer__main-col:nth-child(4) span {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #cb1c22;
}

.footer__main-col h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  color: #444b52;
}

.footer__main-col:nth-child(4) img {
  height: 29px;
}

.footer__main-col:nth-child(5) img {
  height: 25px;
}

.footer__sub {
  width: 100%;
  background-color: #f2f2f2;
  color: #6d6d6d;
  display: flex;
  justify-content: center;
}

.footer__sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__sub-container p {
  text-align: center;
}

.footer__sub-container span {
  color: #0168fa;
}
